
* {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}

body {
    width: 80%;
    margin: 80px auto;
}

.dark {
    background-color: black;
    color: white;
}

form {
    border: 1px solid rgba(153, 153, 153, 0.6);
    padding: 20px;
    text-align: center;
}

form > div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    height: 30px;
    width: 60%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    outline: none;
    border: 2px solid #007BFF;
}

button {
    padding: 10px 32px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.error-message {
    border-color: red;
    font-size: 12px;
    display: none;
}


input.valid {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.1);
}

input.invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}
